
<div class="container-fluid">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse pull-right">
                <ul class="nav navbar-nav">
                    <li class="btn btn-basic btn-block active"><a href="#">Home</a></li>
                    <li class="btn btn-basic btn-block"><a href="#!/admin"> Admin </a></li>
                    <li class="btn btn-basic btn-block"><a href="#!/profile">Profile</a></li>
                    <!--<li>-->
                        <!--<a ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a class="btn btn-basic btn-block"-->
                           <!--ng-click="model.logout()">Logout</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a ng-click="model.updateUser(model.user)" class="btn btn-basic btn-block" >-->
                            <!--Update-->
                        <!--</a>-->
                    <!--</li>-->

                    <!--<li>-->
                        <!--<a ng-click="model.unregister()"-->
                           <!--class="btn btn-danger btn-block">Unregister</a>-->
                    <!--</li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

</div>

<!--content starts here-->
<div class="content container-fluid">
    <h1>
        Comments
    </h1>
    <ul class="list-group">
        <li  class="list-group-item" ng-repeat="comment in model.comments">
            <div class="row">
                <div class="col-xs-10">
                    <ul class="list-group"></ul>
                    <p class="list-group-item">
                        <italic>commented by</italic> <strong>{{comment.username}}</strong>
                    </p>
                    <p class="list-group-item">
                        {{comment._recipe}}
                    </p>
                    <p class="list-group-item">
                       <strong>
                           Comment :
                       </strong>
                        {{comment.commentBody}}
                    </p>
                </div>
                <div  class="col-xs-2">
                    <button ng-click="model.deleteComment(comment._id,comment._recipe)" class="btn-danger">X</button>
                </div>
            </div>
        </li>
        <!--<a  ng-click="model.deleteComment(model.comment._id)" class="navbar-link">-->
        <!--<span class="glyphicon glyphicon-remove">-->
        <!--</span>-->
        <!--</a>-->
        <!--ng-show="comment.username === model.currentusername"-->
    </ul>
</div>