<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">cooK-oka</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Back
                    </a>
                </li>
                <!--<li><a ng-if="!model.currentUser" href="#!/login">Login</a></li>-->
                <!--<li><a href="#!/register">Register</a></li>-->

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
<!--content starts here-->
<div class="content container-fluid">
    <ul class="list-group" >
        <li class="list-group-item active">
            <div class="row">
                <div class="col-xs-12 ">
                    {{model.recipe.name}}
                </div>
            </div>

        </li>
        {{model.message}}
        <li class="list-group-item">
            <button class="btn btn-block btn-success search-bar-height"
                    ng-show = "model.currentUserId"
                    ng-click = "model.addRecipeToFavorites(model.recipe,model.currentUserId)">
                Add to your favorites
            </button>
        </li>

        <li class="list-group-item">

            <div class="row">
                <div class="col-xs-12">
                    <img class="recipeimage" src={{model.recipe.images[0].hostedLargeUrl}} />
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12">
                    <strong>
                        Ingredients Required
                    </strong>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div  class="row">
                <div  class="col-xs-12">
                    <ul class="list-group" >
                        <li  ng-repeat="line in model.recipe.ingredientLines" class="list-group-item">
                            {{line}}
                        </li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <a href="{{model.recipe.source.sourceRecipeUrl}}">
                    <div class="col-xs-12">
                        Preparation URL
                    </div>
                </a>

            </div>
        </li>
        <li class="list-group-item">
            <div class="row">
                <div class="col-xs-12 ">
                    <strong>Time(secs): </strong> {{model.recipe.totalTimeInSeconds}}
                </div>
            </div>
        </li>

    </ul>
    </div>
</div>

<div class="container-fluid">
    <ul class="list-group">
        <li class="list-group-item active">
            Comments
        </li>
        <li class="list-group-item">
            <textarea ng-model="model.comment.commentBody"
                      type="text"
                      class="form-control"
                      id="comment"
                      rows="5"
                      placeholder="Your comment here..">
            </textarea>
        </li>
        <li class="list-group-item">
            <a ng-click="model.createComment(model.comment,model.recipe.id)" class="btn btn-success btn-block">
                Submit
            </a>
        </li>
        <li class="list-group-item">
            {{model.message}}
        </li>
        <!--<li><alert>{{model.message}}</alert></li>-->
    </ul>
</div>


<div class="container-fluid">
    <ul class="list-group">

                <li  class="list-group-item" ng-repeat="comment in model.comments">
                    <div class="row">
                        <div class="col-xs-11">
                    <strong>
                        {{comment.username}}
                    </strong>
                    <p>
                        {{comment.commentBody}}
                    </p>
                        </div>

                        <div class="col-xs-1">

                            <button ng-click="model.deleteComment(comment._id)" ng-show="comment.username == model.currentusername" class="btn-danger">X</button>

                        </div>
                    </div>

                </li>


        <!--<a  ng-click="model.deleteComment(model.comment._id)" class="navbar-link">-->
          <!--<span class="glyphicon glyphicon-remove">-->
          <!--</span>-->
        <!--</a>-->
            <!--ng-show="comment.username === model.currentusername"-->


    </ul>
</div>