<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">cooK-oka</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <!--<li><a href="#!/login">Login</a></li>-->
                <li><a href="#!/register">Register</a></li>

            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div  class=" content container-fluid" >
    <h1>Login</h1>
    <div ng-show="model.message" class="alert alert-info">{{model.message}}</div>

    <form name="form" class="css-form" novalidate>
    <label for="userName">Username</label>
    <input type="text"
           ng-model="username"
           class="form-control"
           id="userName"
           required=""
           name="username"
           placeholder="username"/>
        <div ng-show="form.$submitted">
            <div class="inputerror" ng-show="form.username.$error.required">Please enter username</div>
        </div>
    <label for="password">Password</label>
    <input type="password"
           ng-model="password"
           class="form-control"
           id="password"
           required=""
           name="password"
           placeholder="password"/>
        <div ng-show="form.$submitted">
            <div class="inputerror" ng-show="form.password.$error.required">Please enter password</div>
        </div>
        <br/>
        <input type="submit" class="btn btn-primary btn-block" ng-click="model.login(username, password)" value="Login" />
    <!--<a ng-click="model.login(username, password)"-->
       <!--class="btn btn-primary btn-block">-->
        <!--Login-->
    <!--</a>-->
    </form>
    <!--<a href="/auth/google" class="btn btn-danger btn-block">-->
        <!--<span class="fa fa-google-plus"></span>-->
        <!--Google-->
    <!--</a>-->
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

    <a class="btn btn-success btn-block"
       href="#!/register">
        Register
    </a>


</div>
