<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse pull-right">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li>
                    <a ng-if="model.currentUser.roles.indexOf('ADMIN')>-1" href="#!/admin">Admin</a>
                </li>
                <li ng-show="!model.currentUser._id"><a  href="#!/login">Login</a></li>
                <li ng-show="!model.currentUser._id"><a  href="#!/register">Register</a></li>
                <li ng-show="model.currentUser._id"><a  href="#!/profile">Profile</a></li>


            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<!-- Begin page content -->
<div id="background-carousel">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active" style="background-image:url(images/car1.jpeg)"></div>
            <div class="item" style="background-image:url(images/car2.jpeg)"></div>
            <div class="item" style="background-image:url(images/car3.jpeg)"></div>
            <div class="item" style="background-image:url(images/car4.jpeg)"></div>
            <div class="item" style="background-image:url(images/car5.jpeg)"></div>
            <div class="item" style="background-image:url(images/car6.jpeg)"></div>
            <div class="item" style="background-image:url(images/car7.jpeg)"></div>
            <div class="item" style="background-image:url(images/car8.jpeg)"></div>
        </div>
    </div>
</div>

<div class="site-wrapper" >
    <div class="site-wrapper-inner">
        <div class="inner cover">
            <h1 class="cover-heading">Search for a Recipe</h1>
            <p class="lead" style="padding-left: 20%; padding-right: 20%;">
                <input ng-model="model.recipe" style="text-align:center;"
                       class="form-control"
                       placeholder="search for recipe">
            </p>
            <p class="lead">
                <a class="btn btn-lg btn-default" ng-click = model.searchrecipe(model.recipe) >Search</a>
            </p>
        </div>
    </div>
</div>
<!--<footer class="footer">
    <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
    </div>
</footer>-->


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
